html {
    background: url(../images/circle-blues.png);	

}

body { 
	width:900px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
	background: url(../images/y-so-serious.png);	
    box-shadow: 0 0 12px 4px rgba(0,0,0,.7);
	border: 2px solid #000000;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #ced5ff;
	letter-spacing: 4px;
}

a {
      color: #e2e2e2;
      text-decoration: none;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
}


}

article {
	padding-left: 40px;
	padding-right: 40px;
}

h1 {
	font-size: 36px;
	text-transform: uppercase;
}

p {
	font-weight: 300;
	font-size: 20px;
    margin: 20px
   
}

footer {
	height: 50px;
	background: #000;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	color: #666;
	padding-top: 10px;
}

nav{
    margin: 30px;
}

a:hover{
    color: #1f0daa;
}

iframe{
    margin: 50px;
}