html{
    
    background-image: url(../images/spikes.png);
}

body{
    width: 700px;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

body{
    border: 4px dotted #000;
    background-color: #bbe0e5;
}

body{
    text-align: center;
    font-family: Times New Roman, Helvetica, sans-serif;
}

a{
    font-size: 12pt;
    color: #0f3ba7;
    text-decoration: none;
    border: 1px dotted #ada9a9;
}

a:hover{
    color: #045afd;   
}

h1{
    font-size: 50pt;
    color: rgb(4, 56, 95);
    border-top: 2px dotted #686143;
    border-bottom: 2px dotted #686143;
    text-transform: uppercase;
    background-color: #b0d2d6;
}

p{
    font-size: 12pt;
    line-height: 14pt;
}

img{
    border: medium solid #205d65;
    box-shadow: 5px 5px 5px rgba(0,0,0,3);
}