body {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: left;
    font-family: 'Lato', sans-serif;

}

.logo {
    margin: -30px 56px 0px -10px;
}

.navbar {
    font-family: 'Roboto', sans-serif;

}

.navbar a {
    float: left;
    font-size: 18px;
    color: #272727;
    padding: 14px 6px;
    text-decoration: none;
}

a.home {
    background-color: rgb(254, 217, 40);
    margin: 0px 10px 0px 20px;
    width: 22%;
    text-align: center;
}

.dropdown {
    float: left;
    margin: 0px 10px 0px;
    background-color: rgb(254, 217, 40);
    overflow: hidden;
    width: 27%;
    text-align: center;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    color: #272727;
    padding: 14px 37px 14px 37px;
    background-color: rgb(254, 217, 40);
    font-family: inherit;
    margin: 0;
}

.dropdown-content0 {
    display: none;
    position: absolute;
    background-color: #e2e2e2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content0 a {
    float: none;
    color: black;
    padding: 12px 82px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content0 a:hover {
    background-color: #bfbfbf;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e2e2e2;
    /*    min-width: 160px;
    */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    /*/change from 80px to 65px for padding/*/
    padding: 12px 70px;
    text-decoration: none;
    display: block;
    text-align: center;
}


/*the 80px padding measurement is causing the dropdown menu to be too wide. I made it 65px but now one of them is too small. Maybe you can use a class name to make them different widths?

*/

.dropdown-content a:hover {
    background-color: #bfbfbf;
}

.show {
    display: block;
}

.dropdown2 {
    float: left;
    margin: 0px 10px 0px;
    background-color: rgb(254, 217, 40);
    overflow: hidden;
    width: 25%;
    text-align: center;
}

.dropdown2 .dropbtn2 {
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    color: #272727;
    padding: 14px 101px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #e2e2e2;
    /*    min-width: 160px;
    */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown2-content a {
    float: none;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown2-content a:hover {
    background-color: #ddd;
}

.show2 {
    display: block;
}

.droptext {
    font-size: 18;
}

.clear {
    clear: both;
}


div.gallery {

    margin: 28px;
    float: left;
    width: 220px;

}


.gallerysection {
    /*/ outline: 1px black solid;/*/
    overflow: hidden;
    width: 830px;
    margin: 0 auto;
}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {
    background-color: rgb(254, 217, 40);
    margin: -1% -4% 5%;
    padding: 12px 10px 5px 10px;
    text-align: center;
    box-shadow: 4px 5px 6px rgba(136, 136, 136, 0.44);
}

.location {
    font-size: 15px;
    font-style: italic;
}

.location a {
    text-decoration: none;
    color: #454545;
}

.questions {
    padding: 50px 300px 50px 55px;
    background-color: #FFEDBC;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.email {
    display: block;
    float: right;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: -101px 101px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.07);
}

.noUnderline {
    padding: 12px 220px 12px 220px;
    display: block;
    text-decoration: none;
    color: #272727;
    letter-spacing: 1px;
    background-color: white;
}

footer {
    background: rgba(0, 0, 0, 0.03);
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000000;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
